@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");

@font-face {
  font-family: "grenadiernf";
  src: url("grenadiernf.woff");
}

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: black;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

/* HEADER */
header .social-media-icons {
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;
}

header .social-media-icons .social-media-icons-left {
  flex: 1;
}

header .social-media-icons .social-media-icons-right {
  flex: 1;
}

header .social-media-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .social-media-icons ul li img {
  height: 38px;
}

header .social-media-icons .unordered-list-1 {
  display: flex;
}

header .social-media-icons .unordered-list-2 {
  display: flex;
  justify-content: flex-end;
}

header .icon-image-move-left {
  margin-left: 15%;
}

.visible {
  display: flex;
  visibility: visible;
  position: absolute;
}

.not-visible {
  visibility: hidden;
}

header nav ul {
  background-color: #ece9e9;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: -10px 0;
  padding: 0;
  position: absolute;
  width: 60%;
  visibility: hidden;
  z-index: 1;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header nav ul li {
  flex: 1;
  list-style: none;
  padding: 10px;
  font-family: grenadiernf;
  letter-spacing: 1px;
}

header nav ul li:not(:last-child) {
  border-bottom: 1px solid grey;
}

header nav ul .mobile-dropdown-background {
  background-color: #ffa07a;
}

.nav-icon-li {
  background-color: #ffffff;
  width: 48px;
  height: 48px;
}

header nav ul>li>ul {
  display: none;
  position: relative;
  width: 100%;
  visibility: visible;
  z-index: auto;
}

header nav ul>li>ul>li {
  text-align: left;
  border-radius: 0;
  bottom-border: none;
}

header nav ul li:hover>ul {
  display: block;
  z-index: 1;
}

.nav-icon::after,
.nav-icon::before,
.nav-icon div {
  background-color: black;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 1s ease-in-out;
}

.nav-icon:hover::before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover::after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
  background-color: black;
}

/* END HEADER */
/* START MAIN */
main {
  margin: 0 5%;
}

main #company-logo {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

main .video-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .video-wrapper iframe {
  flex: 1;
  margin-bottom: 20px;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

#slider {
  overflow: hidden;
}

#slider figure img {
  width: 20%;
  align: center;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slider infinite;
}

h1,
h2,
h3 {
  line-height: 1.5;
  font-family: "grenadiernf"serif;
}

main #homepage-h1 {
  text-align: center;
}

.video-responsive-home {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive-home .video-wrapper {
  justify-content: space-around;
}

.video-responsive-home iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

main #homepage-h2 {
  text-align: center;
}

.mymic {
  display: none;
  margin-bottom: 85px;
  height: 150px;
  width: 150px;
  position: relative;
  animation: mymic 4.5s linear alternate infinite forwards;
}

@keyframes mymic {
  0% {
    left: 110%;
  }

  25% {
    left: 75%;
  }

  50% {
    left: 50%;
  }

  75% {
    left: 25%;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    left: 0;
  }
}

.base-circle {
  background-color: grey;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.mic-band {
  background-color: darkgrey;
  height: 20px;
  width: 100%;
  transform: rotate(-47deg);
  position: relative;
  top: 40px;
  border-radius: 5px;
}

.base-mic {
  background-color: black;
  width: 200px;
  height: 70px;
  position: relative;
  top: -26px;
  left: 20px;
  z-index: -1;
  border-radius: 10px 90px 90px 80px;
  transform: rotate(40deg);
}

/* END MAIN */
.instagram-singer-images img {
  height: auto;
  max-height: 300px;
  max-width: 100%;
}

.instagram-singer-images-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram-singer-images-1 img {
  flex: 1;
  padding-bottom: 20px;
  order: 2;
}

.instagram-singer-images-1 h3 {
  text-align: center;
  flex: 1;
  order: 1;
}

.instagram-singer-images-2 {
  display: flex;
  flex-direction: column;
}

.instagram-singer-images-2 img {
  flex: 1;
  max-height: 500px;
  padding-bottom: 20px;
}

/* Footer */
footer {
  background-color: #ece9e9;
  padding-bottom: 10px;
}

footer .footer-uls {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

footer .footer-uls h3 {
  padding: 0;
  margin: 15px auto 5px auto;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
}

footer .footer-ul-1 {
  grid-column: 1;
}

footer .footer-ul-2 {
  grid-column: 1;
}

footer .footer-uls .footer-ul-3 {
  grid-column: 1;
}

footer .footer-social-media ul {
  text-align: center;
  margin: 0;
}

footer .footer-social-media ul li {
  display: inline;
}

footer .footer-social-media ul li img {
  height: auto;
  width: 15%;
}

h4.copyright {
  text-align: center;
  margin: 0;
}

img.img-center {
  text-align: center;
}


form div+div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
}

input,
textarea {
  font: 1em;
  width: 300px;
  border: 1px solid #999;
  filter: drop-shadow(1px 1px 3px black);
  font-style: inherit;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  margin-left: .5em;
  padding-left: 90px;
}

button {
  border-radius: 3px;
  padding: 3px 10px;
  font-family: inherit;
}

/* START MEDIA QUERIES 600 */
@media only screen and (max-width: 600px) {
  #mc-embedded-subscribe-form input[type=checkbox]{
  display: inline; 
  width: auto;
  margin-right: 10px;
}
  #mc_embed_signup{
  background:#fff; 
  clear: left;
  font:14px Helvetica,Arial,sans-serif; 
}

	#mergeRow-gdpr {
  margin-top: 20px;
}
	#mergeRow-gdpr fieldset label {
  font-weight: normal;
}
	#mc-embedded-subscribe-form .mc_fieldset{
  border:none;
  min-height: 0px;
  padding-bottom:0px;
}
}

@media only screen and (min-width: 600px) {
  main {
    max-width: 768px;
  }
#all-headshots{
  margin: 0 auto;
}
  .headshots-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .vertical-headshot {
    flex: 1;
  }
  img.vertical-singer-headshot {
    max-height: 350px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.horizontal-singer-headshot {
    max-height: 250px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
  /* END MEDIA QUERIES 600 */
  /* MEDIA QUERIES 768 (Tablet) */
  @media only screen and (min-width: 768px) {
    header nav ul .nav-icon-li {
      display: none;
    }

    header nav ul li:not(:last-child) {
      border-bottom: none;
    }

    main {
      max-width: 1024px;
    }

    .nav-icon-li {
      display: none;
    }

    header .social-media-icons ul li img {
      height: 30px;
    }

    header nav ul {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto 7px auto;
      padding: 0;
      position: relative;
      width: 100%;
      visibility: visible;
    }

    header nav ul li {
      list-style: none;
      flex: 1;
      text-align: center;
      background-color: #ece9e9;
      border-radius: 7px;
      margin: 0 3px;
    }

    header nav ul>li:hover>ul {
      display: block;
    }

    header nav ul .nav-icon-li {
      background-color: #ffffff;
    }

    header nav ul>li>ul {
      position: absolute;
      display: none;
      width: 30%;
      text-indent: 8%;
    }

    header nav ul>li>ul>li {
      text-align: left;
      border-radius: 0;
    }

    header nav ul li:hover>ul {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      display: block;
      z-index: 1;
    }

    main #company-logo {
      height: 200px;
      width: 200px;
    }

    .video-responsive-home .video-wrapper {
      justify-content: space-between;
    }

    main .video-wrapper iframe:nth-child(1) {
      margin-right: 20px;
    }

    main .video-wrapper iframe:nth-child(3) {}

    .mymic {
      display: block;
    }

    .instagram-singer-images .instagram-singer-images-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .instagram-singer-images-1 img {
      max-width: 33%;
      flex: 1;
      order: 1;
    }

    .instagram-singer-images-1 h3 {
      padding: 0 30px;
      flex: 1;
      order: 2;
    }

    .instagram-singer-images-1 #third-insta {
      order: 3;
    }

    .instagram-singer-images .instagram-singer-images-2 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .instagram-singer-images .instagram-singer-images-2 img {
      flex: 1;
      max-width: 33%;
    }

    footer .footer-uls {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      width: 100%;
    }

    footer .footer-uls .footer-ul-1 {
      grid-column: 1;
    }

    footer .footer-uls .footer-ul-2 {
      grid-column: 2;
    }

    footer .footer-uls .footer-ul-3 {
      grid-column: 3;
    }

    footer .footer-social-media ul li img {
      width: auto;
      height: 30px;
    }

  .headshots-container {
    flex-direction: row;
  }
  }
  /* END MEDIA QUERIES 768 */
  /* MEDIA QUERIES 1024*/
  @media only screen and (min-width: 1024px) {
    header .social-media-icons ul li img {
      height: 40px;
    }

    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto 6px;
      padding: 0;
    }

    header nav ul li {
      list-style: none;
      flex: 1;
      text-align: center;
      background-color: #ece9e9;
      border-radius: 7px;
      margin: 0 3px;
    }

    header nav ul .nav-icon-li {
      background-color: #ffffff;
    }

    header nav ul>li>ul {
      position: absolute;
      display: none;
      width: 30%;
      text-indent: 8%;
    }

    header nav ul>li>ul>li {
      text-align: left;
      border-radius: 0;
    }

    header nav ul li:hover>ul {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      display: block;
      z-index: 1;
    }

    main {
      margin: 0 auto;
    }

    main .video-wrapper iframe:nth-child(3) {
      margin-left: 20px;
    }

    .instagram-singer-images .instagram-singer-images-1 {
      width: 100%;
    }

    .instagram-singer-images-1 img {
      max-width: 300px;
      max-height: 300px;
    }

    footer .footer-social-media ul li img {
      height: 40px;
    }
  }

  /*this is about landing page (which has extra css)*/
  main .double-column-flex {
    display: flex;
    flex-direction: column;
  }

  main .double-column-flex img {
    padding: 25px;
    width: 100%;
    flex: 1;
  }

  main .double-column-flex p {
    flex: 1;
  }

  #Airplane {
    transform: translateX(0px);
    animation: move 4s ease-in-out infinite;
  }

  @keyframes move {
    100% {
      margin-left: 100%;
    }

    0% {
      margin-right: 10%;
    }
  }

  /* Media Queries */
  @media only screen and (min-width: 768px) {
    main .double-column-flex {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  /*Biography Page*/
  .about-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-image #michigan-singer-image {
    width: 100%;
    height: auto;
  }

  .about-image-2 #church-image {
    width: 100%;
    height: auto;
  }

  /*Biography Page Queries*/
  @media only screen and (min-width: 1024px) {
    .about-page-wrapper {
      display: flex;
      flex-direction: row;
    }

    .about-page-wrapper .paragraph-container {
      flex: 1;
    }

    .about-image {
      flex: 1;
      padding: 15px;
    }

    .about-page-wrapper .paragraph-container-2 {
      flex: 2;
      order: 2;
    }

    .about-image-2 {
      flex: 1;
      padding: 15px;
      order: 1;
    }

    .about-image #michigan-singer-image {
      width: 100%;
      height: auto;
      max-width: 400px;
    }

    .about-image-2 #church-image {
      width: 100%;
      height: auto;
      max-width: 400px;
    }
  }